extends ../template/default

block config
    - const title = 'Details'
    link(rel='stylesheet', href='/css/details.css')

block content
    h1= cityName + " Forecast"
    .box
        each detail in details
            .detail
                .day= detail.day
                .icon
                    img(src= '/media/weather/' + detail.icon + '.png', alt=detail.description)
                .temperature
                    .min
                        img(src='/media/arrows/min.png', alt='minimum temperature')
                        p.temp=Math.round( detail.min -273.15 )
                        p MIN
                    .max
                        img(src='/media/arrows/max.png', alt='maximum temperature')
                        p.temp=Math.round( detail.max -273.15 )
                        p MAX

    a(href='/home') Back to home page